<!-- cv.component.html -->

<header>
  <h1>MANUEL ALDO NAVARRO PEREZ</h1>
</header>
<div class="container">
  <div class="main">
      <section class="contact-info section-content">
          <h2 class="section-title">Información de Contacto</h2>
          <ul>
              <li>Correo Electrónico: navarroperezmanuelaldo23mail.com</li>
              <li>Wsp: 936-622-955</li>
              <li>Dirección: MZ I LT 4 SECTOR 3 GRUPO 24, VILLA EL SALVADOR, PERU</li>
          </ul>
      </section>
      <section class="education section-content">
          <h2 class="section-title">Educación</h2>
          <ul>
              <li>Instituto Superior María Elena Moyano - Estudios en Programación</li>
          </ul>
      </section>
      <section class="skills section-content">
          <h2 class="section-title">Habilidades</h2>
          <ul>
              <li>Lenguajes de Programación: HTML, CSS, JavaScript</li>
              <li>Frameworks: React, Angular</li>
              <li>Bases de Datos: MySQL, MongoDB</li>
              <li>Control de Versiones: Git, GitHub</li>
          </ul>
      </section>
      <section class="experience section-content">
          <h2 class="section-title">Experiencia</h2>
          <ul>
              <li>Empresa X - Desarrollador Web (Año - Año)</li>
              <li>Empresa Y - Programador Junior (Año - Año)</li>
          </ul>
      </section>
  </div>
</div>
<footer>
  &copy; 2024 MANUEL ALDO NAVARRO PEREZ. Todos los derechos reservados.
</footer>
