<h1>Galeria de Fotos</h1>
<h1>Heavy Metal</h1>

<div class="galeria">
    <div class="foto">
        <img src="assets/img/img/foto4.png" alt="">
    </div>
    <div class="pie">
        <p>Ensayo</p>
        <p>"Rock n Roll"</p>
    </div>
</div>

<div class="galeria">
    <div class="foto">
        <img src="assets/img/img/foto4.png" alt="">
    </div>
    <div class="pie">
        <p>Ensayo</p>
        <p>"Sesion de Fotos "</p>
    </div>
</div>

<div class="galeria">
    <div class="foto">
        <img src="assets/img/img/foto4.png" alt="">
    </div>
    <div class="pie">
        <p>Ensayo</p>
        <p>"LOS VILLA LOCOS"</p>
    </div>
</div>

